body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .image {
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 300px;
    height: 300px;
    position: relative;
  }
  
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
  }
  
  .image:hover img {
    transform: scale(1.2);
  }
  .image:hover .caption {
    opacity: 1;
  }
  